*target*
*.jar
*.war
*.ear
*.class

# eclipse specific git ignore
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
*.erdplus

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch
/.idea/
/webProject.iml
/webLog.log
/src/main/java/Main.java
/META-INF/hibernate.cfg.xml
/META-INF/hibernate.cfg.xml

